* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#display {
    width: 100%;
    height: 60px;
    background-color: #f4f4f4;
    border: none;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px 10px 0 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    height: 60px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border-radius: 0 0 10px 10px;
    margin: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
