*{
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color: #1a1a1a;
}


.navbar{
    height: 90px;
    background-color: #1a1a1a;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.menu{
    display: flex;
    align-items: center;
    gap: 32px;
  }


#logo{
    
    margin-top: 20px;
    margin-left: 100px;
    color:white;
    font-size: 25px;
    font-family: 'Poppins';
}
#Home{
    margin-top: 30px;
    font-size: larger;
    margin-left: 150px;
    margin-right: 20px;
    text-decoration: none;
}
#book{
    padding-top: 30px;
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}
#package{
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;

}

#service{
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

#gallery{
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

#Review{
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

#contact{
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

#search-btn{
    display:inline;
}
#login-btn{
    display: inline;
}

.heading{
    color:white;
    font-family: 'Poppins';
    font-size: 6rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.links{
    color: white;
}

.card-text{
    color: #0f1111;
}

.tourist-places{
    display: flex;
}

.nav-link:hover{
    color: #FFC815;
}

.btn{
    background-color: #FFC815;
    border-color: #FFC815;
    color: #1a1a1a;
}

.btn:hover{
    background-color: #1a1a1a;
    color: #FFC815;
    border-color: #1a1a1a;
}

.btn:active{
    background-color: #1a1a1a;
    color: #FFC815;
    border-color: #1a1a1a;
}

.login{
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: #999999;
    border-radius: 10px;
    border: 2px solid #FFC815;
    transition: 0.2s;
  }

.login:hover{
    background-color: #FFC815;
    color: #1a1a1a;
}