#title {
    background-color: #FFC815;
    background-image: url('https://c0.wallpaperflare.com/preview/125/989/124/ancient-arches-architecture-building.jpg'); /* Replace with the actual image path */
    background-size: cover; /* Adjusts the size of the background image to cover the entire element */
    background-position: center; /* Centers the background image within the element */
}

.content-box {
    background-color: rgb(197 197 197 / 70%); /* Greyish background with 70% opacity */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Rounded corners for the container box */
}

.ticket-info {
    margin-top: 20px; /* Add some spacing between the heading and ticket info */
    font-weight: 500;
}

button{
    margin: 0 10px 0 0;
}

.container-fluid{
    padding: 3% 15%;
}

.row{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.timinglocation{
    padding-top: 50px;
    padding-bottom: 60px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}

.favourite {
    background-color: transparent;
    border: none;
    margin-left: 50px;
    transition: color 0.3s; /* Smooth transition for color change */
}

.favourite:hover {
    color: red; /* Change the color to red on hover */
}

.favourite.clicked {
    color: red; /* Change the color to red when clicked */
}

.headline{
    color: #000000;
}

.headingfav{
    display: flex;
}

.icon{
    padding-bottom: 1.5rem;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.subhead{
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: #000000;
    word-wrap: break-word;
}

.row{
    padding-top: 50px;
    padding-bottom: 60px;
}

#mustvisit{
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    margin: auto;
    width: 52.1%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#diary {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh; /* This ensures the section takes up the full viewport height */
}

.picturediary{
    color: #000000;
    font-size: 24px;
}

.mapshead{
    color: #000000;
    font-size: 2rem;
}

.choose-file-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .choose-file {
            background-color: #f0f0f0;
            border: 2px dashed #ccc;
            padding: 10px 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .choose-file label {
            font-size: 16px;
            color: #555;
            cursor: pointer;
            margin-left: 10px;
        }

        .choose-file input[type="file"] {
            display: none;
        }

        .choose-file::before {
            content: "+";
            font-size: 24px;
            font-weight: bold;
            color: #555;
            margin-right: 10px;
        }
