body{
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    background-color:#080a0def;
    color: #d4dbd4; 
  }

.heading{
    font-family: 'Poppins', sans-serif;
    font-size: 10rem;
    /* margin: auto; */
    /* display: flex;
    flex-direction: row; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    border-radius:15px ;
    font-family: inherit;
    cursor: pointer;
    color: #a1a1a1;
    border: 2px solid #FFC815;
    transition: 0.2s;

}

button:hover{
    background-color: #FFC815;
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: #d7d8d7;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

a:hover{
    color: #FFC815;
}

#login{
    margin-left:675px;
}

#signup{
    margin-left: 10px;
}

.skip{
    text-align: center;
    margin: auto;
}

