body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
    
}

.title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.move-icon {
    height: 60px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-btn {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 10px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 5px solid white;
    border-radius: 25px;
    padding: 10px 50px;
    width: fit-content;
    height: auto;
}

.game-score p {
    font-size: 20px;
    margin: 0;
    line-height: 4;
}

.score {
    margin-top: 50px;
}

.score-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reset-score-btn,
.autoplay-btn {
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
    margin: 40px 10px;
}